/5º Periodo/POO2/Exercicios/Bebidas/build/
/5º Periodo/POO2/Exercicios/Bebidas/nbproject/private/
/5º Periodo/POO2/Exercicios/Pizza/build/
/5º Periodo/POO2/Exercicios/Pizza/dist/
/5º Periodo/POO2/Exercicios/Pizza/nbproject/private/